<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">SOBRE MÍ</h1>
<p>Mi nombre es Edmundo Canedo Cervantes</p>
<p>Mi matrícula es A01645576</p>
<p>Mi correo es edcance.dev@gmail.com</p>
<p>Uso Fedora como sistema operativo</p>