<input type="text" id="pokemon" name="nombre" class="w-full p-2 bg-slate-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-slate-600" required placeholder="Ingresa el nombre del pokemon">

<div id="pokemonData"></div>

<script>
    const pokeInput = document.getElementById("pokemon");

    pokeInput.addEventListener("onchange", () => {
        alert("a");
    })
</script>