<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">驴Qu茅 otras formas de autentificaci贸n existen?</p>
<p class="mt-2">Utilizando tokens, como los JSON Web Tokens. En 茅ste se mandan datos que se componen de 3 partes. Un encabezado(tiene informaci贸n de c贸mo procesar el token), una carga 煤til(informaci贸n sobre alguna entidad, objeto o usuario) y una firma(la codificaci贸n base64Url del encabezado y la carga 煤til y las firma usando un secreto); </p>

<p class="block mt-4">Esteban, D. (2025, February 19). Protege tus rutas en Node.js con autenticaci贸n JWT y Express . Medium. <a class="text-slate-400" href="https://medium.com/@diego.coder/autenticaci%C3%B3n-en-node-js-con-json-web-tokens-y-express-ed9d90c5b579">https://medium.com/@diego.coder/autenticaci%C3%B3n-en-node-js-con-json-web-tokens-y-express-ed9d90c5b579</a></p>