<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">¿Qué otras formas de autentificación existen?</p>
<p class="mt-2">Utilizando tokens, como los JSON Web Tokens. En éste se mandan datos que se componen de 3 partes. Un encabezado(tiene información de cómo procesar el token), una carga útil(información sobre alguna entidad, objeto o usuario) y una firma(la codificación base64Url del encabezado y la carga útil y las firma usando un secreto); </p>