<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">¿Qué otros templating engines existen para node?</p>
<br>
<p>Hay otros template engines como:</p>
<ul class="list-disc list-inside">
    <li>Mustache</li>
    <li>Handlebars</li>
    <li>doT</li>
    <li>Nunjucks</li>
    <li>Underscore</li>
    <li>Pug</li>
    <li>Webix</li>
    <li>Hogan</li>
    <li>Marko</li>
    <li>JsRender</li>
    <li>Squirrelly</li>
    <li>Template7</li>
</ul>

<div>
    <h2 class="font-bold text-2xl text-center text-slate-100 mt-6">Referencias:</h2>
    <p>Ivanovs, A. (2023, January 4). Top 13 Templating Engines for JavaScript To Improve and Simplify Your Workflow 2023. Colorlib. <a class="text-slate-300 hover:text-slate-100 underline" href="https://colorlib-com.translate.goog/wp/top-templating-engines-for-javascript/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc">https://colorlib-com.translate.goog/wp/top-templating-engines-for-javascript/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc</a></p>
</div>